.hero__swiper{
    height: 400px;
}
.hero__swiperContent{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.hero__slide{
    display: flex;
    height: auto;
    position: relative;
    z-index: 1;
}
.hero__slideLink{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gray-200;
}
.hero__slideFigure{
    margin: 0;
    height: 100%;
}
.hero__slideImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hero__slidePreloader{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50%;
    margin-left: 0;
    margin-top: 0;
    z-index: 5;
    animation: none;
    overflow: hidden;

    &::after{
        height: 30px;
        width: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: 50%;
    }
    &.-light{
        background: $bg-white;
    }
}
.hero__slideCaption{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.9);
}
.hero__slideTitle{
    font-size: 3.6rem;
    color: $text-white;
}
.hero__slideDescription{
    font-size: 1.8rem;
    color: $text-white;
}
