/* ==================================================================================================================================================== */
/* FOOTER MAIN */
/* ==================================================================================================================================================== */

footer{
    padding: 60px 0;
    background: $gray-100;
}
.footer__title{
    font-size: 24px;
}
.footer__link{
  
}