/* ==================================================================================================================================================== */
/* FOOTER MAIN */
/* ==================================================================================================================================================== */

footer{
    padding: 60px 0;
    background: $gray-900;
}
.footer__title{
    font-size: 2.4rem;
}
.footer__link{
    width: 100%;
    display: block;
}