/* ==================================================================================================================================================== */
/* FOOTER MAIN */
/* ==================================================================================================================================================== */

footer{
    padding: 30px 0 60px 0;
    background: $gray-900;
}
.footer__title{
    font-size: 24px;
    color: $white;
    padding-top: 30px;
}
.footer__link{
    font-size: 14px;
    line-height: 2;
    width: 100%;
    display: block;
    color: $gray-400;

    &:hover, &:active, &:focus{
        color: $white;
        text-decoration: none;
    }
}
.footer__text{
    color: $white;
}