form{

}
label{

}
input{
  height: 48px;
  border-radius: $border-radius;
}
input[type=checkbox]{

}
input[type=radio]{

}
input[type=radio]{
  
}
input[type=number]{
  
}
input[type=tel]{
  
}
input[type=range]{
  
}
textarea{

}
button{

}
