form{

}
label{
  margin-bottom: 20px;
}
input{
  height: 48px;
  border-radius: $border-radius;
  border: 1px solid $gray-500;
  padding: 0 20px;
  font-size: 1.5rem;
  width: 100%;
}
input[type=checkbox]{

}
input[type=radio]{

}
input[type=radio]{
  
}
input[type=number]{
  
}
input[type=tel]{
  
}
input[type=range]{
  
}
textarea{

}
button{

}
