.loginForm{
    padding: 60px;
    background: $white;
    margin: 0 auto;
    max-width: 560px;
}
.loginForm__header{

}
.loginForm__title{

}
.loginForm__subtitle{

}
.loginForm__fields{
    display: flex;
    flex-direction: column;
}
.loginForm__footer{
    padding-top: 20px;
}