main::after{
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    opacity: 0;
    background-image: url("../img/icons/preloader.svg");
}
html.is-animating main::after{
    opacity: 1;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    100% {transform: translate(-50%, -50%) rotate(360deg);}
}