/* ==================================================================================================================================================== */
/* NAVIGATION MAIN */
/* ==================================================================================================================================================== */

.navbarMain{
  height: 74px;
  background: $gray-900;
}
.navbarMain__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}


@media (min-width: 768px){
.navbarMain__container {
    /*width: 100%;
    max-width: none;*/
  }
}

/* ========================================================================== */
/* NAVIGATION MAIN - LOGO */
/* ========================================================================== */

.logoWrap{
  padding: 0;
}

.logoImg{
  height: 34px;
}

/* ========================================================================== */
/* NAVIGATION MAIN - SEARCH */
/* ========================================================================== */

.navSearch{
  flex-grow: 1;
  padding: 0 20px;
    display: flex;
    justify-content: center;
}
.navSearch__form{
  max-width: 600px;
  flex-grow: 1;
}
.navSearch__formGroup{
  position: relative;
  background: $white;

  .ui-helper-hidden-accessible{
    position: absolute;
    top: 100%;
    background: $white;
    width: 100%;
    z-index: 1;
    padding: 5px 20px;
    display: none;
  }
}
.navSearch__input{
  flex-grow: 1;
  width: 100%;
  border: 0;
  padding: 0 60px 0 20px;
}
.navSearch__btn{
  background: $transparent;
  position: absolute;
  right: 0;
  border: 0;
  margin: 0;
  top: 0;
  height: 100%;
  width: 48px;
  line-height: 1;
  padding: 0;
}
.navSearch__icon{
  height: 16px;
}
.navSearch__btnTitle{
  display: none;
}

.ui-autocomplete{
  background: $white;
  max-width: 600px;
}


/* ========================================================================== */
/* NAVIGATION MAIN - CURRENCY */
/* ========================================================================== */

.navCurrency{
  height: 100%;
}
.navCurrency__selector{
  display: flex;
  height: 100%;

  &:focus{
    outline: none;
  }
}
.navCurrency__button{
  background: transparent;
  padding: 0 20px;
  border: 0;
  height: 100%;
  margin: 0;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover, &:active, &:focus, &[aria-expanded="true"]{
    background: rgba(0,0,0,0.2);
  }
  &:focus{
    outline: none;
  }
}
.navCurrency__icon{
  height: 20px;
}
.navCurrency__title{
  padding-top: 5px;
  text-align: center;
}
.navCurrency__dropdown{
  padding: 0;
  border: 0;
  border-radius: $border-radius;
  margin: 0;
}
.navCurrency__currencyItem{
  color: $gray-800;

  &.-active{
    color: $white;
    background: $purple-500;

    .navCurrency__currencyLink{
      color: $white;
    }
  }
}
.navCurrency__currencyLink{
  font-size: 1.5rem;
  color: $gray-800;
  padding: 10px 20px;
  display: flex;

  &:hover, &:active, &:focus{
    text-decoration: none;
    color: $purple-900;
  }
}

/* ========================================================================== */
/* NAVIGATION MAIN - USER */
/* ========================================================================== */

.navUser{
  height: 100%;
}
.navUser__link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  text-decoration: none;

  &:hover, &:active, &:focus{
    text-decoration: none;
    background: rgba(0,0,0,0.2);
  }
}
.navUser__icon{
  height: 20px;
  
}
.navUser__title{
  color: $white;
  padding-top: 5px;
  text-align: center;
}

/* ========================================================================== */
/* NAVIGATION MAIN - CART */
/* ========================================================================== */

.navCart{
  height: 100%;
}
.navCart__preview{
  height: 100%;
  float: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover .navCart__link, &:active .navCart__link, &:focus .navCart__link{
    text-decoration: none;
    background: rgba(0,0,0,0.2);
  }
}
.navCart__previewContent{
  position: absolute;
  bottom: 0;
  transform: translate(0, 100%);
  z-index: 2;
  background: $white;
  display: none;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  right: 0;
  box-shadow: $box-shadow;
}
.navCart__preview:hover .navCart__previewContent {
  display: flex;
}
.navCart__link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
.navCart__icon{
  height: 20px;

}
.navCart__title{
  color: $white;
  padding-top: 5px;
  text-align: center;
}


/* ==================================================================================================================================================== */
/* NAVIGATION CATEGORY */
/* ==================================================================================================================================================== */

.navbarCategory{
  background: $white;
  position: relative;
  display: flex;
  height: 60px;
}
.navbarCategory__container{

}
.navbarCategory__accordion{
  display: flex;
  height: 100%;
  align-items: center;
  
}
.navbarCategory__item{
  display: flex;
  height: 100%;
  align-items: center;
}
.navbarCategory__link, .navbarCategory__linkDesktop{
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 20px;
  color: $gray-800;

  &:hover, &:active, &:focus{
    background: $gray-100;
    color: $purple-900;
    text-decoration: none;
  }
}
.navbarCategory__collapse{
  background: $white;
  width: 100%;
}
.navbarCategory__subMenu{
  width: 100%;
  display: flex;
}
.navbarCategory__subItem{

}
.navbarCategory__subLink{
  width: 100%;
  display: flex;
  height: 48px;
  padding: 0 20px;
  align-items: center;
}
.navbarCategory__subContainer{

}




@media screen and (max-width: 991px){
  .navbarCategory{
    height: auto;
  }
  .navbarCategory__accordion{
    flex-direction: column;
  }
  .navbarCategory__linkDesktop{
    display: none;
  }
  .navbarCategory__link{
    display: flex;
    height: 56px;
    width: 100%;
    &[aria-expanded="true"]{
      background: $gray-100;
    }
  }
  .navbarCategory__item{
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .navbarCategory__subMenu{
    background: $gray-100;
    flex-direction: column;
  }
  .navbarCategory__subItem{
    width: 100%;
  }
  .navbarCategory__container, .navbarCategory__subContainer{
    padding: 0;
  }  
}
@media screen and (min-width: 992px){
  .navbarCategory__collapse{
    position: absolute;
    left: 0;
    top: 100%;
  }
  .navbarCategory__item:hover .navbarCategory__linkDesktop ~ .navbarCategory__collapse{
    display: flex;
  }
  .navbarCategory__linkDesktop ~ .navbarCategory__link{
    display: none;
  }
}