/* ==================================================================================================================================================== */
/* NAVIGATION MAIN */
/* ==================================================================================================================================================== */

.navbarMain{
  height: 74px;
  background: $gray-900;
}
.navbarMain__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* ========================================================================== */
/* NAVIGATION MAIN - LOGO */
/* ========================================================================== */

.logoWrap{
  padding: 0;
}

.logoImg{
  height: 34px;
}


/* ========================================================================== */
/* NAVIGATION MAIN - SEARCH */
/* ========================================================================== */

.navSearch{
  flex-grow: 1;
  padding: 0 20px;
    display: flex;
    justify-content: center;
}
.navSearch__form{
  max-width: 600px;
  flex-grow: 1;
}
.navSearch__formGroup{
  position: relative;
  background: $white;
}
.navSearch__input{
  max-width: 500px;
  flex-grow: 1;
  border: 0;
  padding: 0 60px 0 20px;
}
.navSearch__btn{
  background: $transparent;
  position: absolute;
  right: 0;
  border: 0;
  margin: 0;
  height: 100%;
  width: 48px;
}
.navSearch__icon{
  height: 16px;
}
.navSearch__btnTitle{
  display: none;
}


/* ========================================================================== */
/* NAVIGATION MAIN - CURRENCY */
/* ========================================================================== */

.navCurrency{
  height: 100%;
}
.navCurrency__selector{
  display: flex;
  height: 100%;
}
.navCurrency__button{
  background: transparent;
  padding: 0 20px;
  border: 0;
  height: 100%;
  margin: 0;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover, &:active, &:focus, &[aria-expanded="true"]{
    background: rgba(0,0,0,0.1);
  }
}
.navCurrency__icon{
  height: 20px;
}
.navCurrency__title{
  padding-top: 5px;
}
.navCurrency__dropdown{
  padding: 0;
  border: 0;
  border-radius: $border-radius;
  margin: 0;
}
.navCurrency__currencyItem{
  color: $gray-800;

  &.-active{
    color: $white;
    background: $purple-500;

    .navCurrency__currencyLink{
      color: $white;
    }
  }
}
.navCurrency__currencyLink{
  font-size: 1.5rem;
  color: $gray-800;
  padding: 10px 20px;
  display: flex;

  &:hover, &:active, &:focus{
    text-decoration: none;
    color: $purple-900;
  }
}

/* ========================================================================== */
/* NAVIGATION MAIN - USER */
/* ========================================================================== */

.navUser{
  height: 100%;
}
.navUser__link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;

  &:hover, &:active, &:focus{
    text-decoration: none;
    background: rgba(0,0,0,0.1);
  }
}
.navUser__icon{
  height: 20px;
  
}
.navUser__title{
  color: $white;
  padding-top: 5px;
}

/* ========================================================================== */
/* NAVIGATION MAIN - CART */
/* ========================================================================== */

.navCart{
  height: 100%;
}
.navCart__preview{
  height: 100%;
  float: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.navCart__link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;

  &:hover, &:active, &:focus{
    text-decoration: none;
    background: rgba(0,0,0,0.1);
  }
}
.navCart__icon{
  height: 20px;

}
.navCart__title{
  color: $white;
  padding-top: 5px;
}


/* ==================================================================================================================================================== */
/* NAVIGATION CATEGORY */
/* ==================================================================================================================================================== */

.navbarCategory{
  background: $bg-light;
  position: relative;
  display: flex;
  height: 60px;
}
.navbarCategory__container{

}
.navbarCategory__collapse{
  display: flex;
  height: 100%;
}