.productItem{
  padding: 10px;
  z-index: 2;
  position: relative;
}
.productItem__inner{
  background: $white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.productItem__top{
  position: relative;
}
.productItem__thumbnail{
  display: block;
}
.productItem__flags{
  background: transparent;
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.productItem__flag{
  color: $text-white;
  background: $gray-900;
  height: 20px;
  font-size: 1.3rem;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  &.--discount{
    background: $red-500;
  }
}
.productItem__imgContainer{
  position: relative;
  padding-bottom: 100%;
}
.productItem__imgWrap{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productItem__img{
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  transition: 0.3s ease opacity;
}
.productItem__preloader{
  background: $gray-100;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.productItem__img.loaded{
  opacity: 1;
}
.productItem__img.loaded + .productItem__preloader{
  display: none;
}
.productItem__title{
  font-size: 1.8rem;
}

.productItem__bottom{

}
.productItem__priceWrap{

}
.productItem__price{

}
.productItem__description{
  display: none;
}
.productItem__cta{
  display: none;
}
.productItem__addToCart{

}
.productItem__variants{
  display: none
}
