.itemProduct{
  padding: 10px;
  z-index: 2;
  position: relative;
}
.itemProduct__inner{
  background: $white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.itemProduct__top{
  position: relative;
}
.itemProduct__thumbnail{
  display: block;
}
.itemProduct__flags{
  background: transparent;
  color: $text-white;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 1.3rem;
  height: 24px;
  padding: 0 15px 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.itemProduct__flag{

}
.itemProduct__imgContainer{
  position: relative;
  padding-bottom: 100%;
}
.itemProduct__imgWrap{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemProduct__img{
  max-width: 100%;
  max-height: 100%;
}
.itemProduct__title{
  font-size: 1.8rem;
}

.itemProduct__bottom{

}
.itemProduct__priceWrap{

}
.itemProduct__price{

}
.itemProduct__description{
  display: none;
}
.itemProduct__cta{
  display: none;
}
.itemProduct__addToCart{

}
.itemProduct__variants{
  display: none
}
