/* ==================================================================================================================================================== */
/* NAVIGATION MAIN */
/* ==================================================================================================================================================== */

.o-navbarMain{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 74px;
  background: $purple-900;
}

/* ========================================================================== */
/* NAVIGATION MAIN - LOGO */
/* ========================================================================== */

.m-logoWrap{
  padding: 0 20px;
}
/*
.m-logoImg{

}
*/

/* ========================================================================== */
/* NAVIGATION MAIN - SEARCH */
/* ========================================================================== */

.m-navSearch{
  flex-grow: 1;
}

/* ========================================================================== */
/* NAVIGATION MAIN - CURRENCY */
/* ========================================================================== */

.m-navCurrency{
  height: 100%;
}
.m-navCurrency__selector{
  display: flex;
  height: 100%;
}
.m-navCurrency__button{
  background: transparent;
  padding: 0 20px;
  border: 0;
  height: 100%;
  margin: 0;
  color: $text-white;

  &:hover, &:active, &:focus, &[aria-expanded="true"]{
    background: $bg-brand--dark;
  }
}
.m-navCurrency__dropdown{
  padding: 0;
  border: 0;
  border-radius: $border-radius;
}
.m-navCurrency__currencyItem{
  padding: 10px 20px;
  color: $text-primary;

  &.-active{
    color: $text-primary;
  }
}
.m-navCurrency__currencyLink{
  font-size: 1.5rem;
  color: inherit;
}

/* ========================================================================== */
/* NAVIGATION MAIN - USER */
/* ========================================================================== */

.m-navUser{
  height: 100%;
}
.m-navUser__link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;

  &:hover, &:active, &:focus{
    text-decoration: none;
    background: $bg-brand--dark;
  }
}
.m-navUser__icon{

}
.m-navUser__title{
  color: $text-white;
}

/* ========================================================================== */
/* NAVIGATION MAIN - CART */
/* ========================================================================== */

.m-navCart{
  height: 100%;
}
.m-navCart__preview{
  height: 100%;
  float: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.m-navCart__link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;

  &:hover, &:active, &:focus{
    text-decoration: none;
    background: $bg-brand--dark;
  }
}
.m-navCart__icon{

}
.m-navCart__title{
  color: $text-white;
}


/* ==================================================================================================================================================== */
/* NAVIGATION CATEGORY */
/* ==================================================================================================================================================== */

.o-navbarCategory{
  background: $bg-light;
  position: relative;
  display: flex;
  height: 60px;
}
.o-navbarCategory__container{
  padding-right: 0px;
  padding-left: 0px;
}
.o-navbarCategory__collapse{
  display: flex;
  height: 100%;
}